include README.rst
include CHANGELOG.rst
include LICENSE
include deps/xxhash/xxh3.h
include deps/xxhash/xxhash.h
include deps/xxhash/xxhash.c
include deps/xxhash/LICENSE
graft tests
global-exclude __pycache__
global-exclude *.py[co]
prune .github
exclude .gitignore .gitmodules
