include README.rst
include LICENSE
include deps/xxhash/xxhash.h
include deps/xxhash/xxhash.c
include deps/xxhash/LICENSE
include ffibuild.py
graft tests
global-exclude __pycache__
global-exclude *.py[co]
